*{
    margin: 0;
    box-sizing: border-box;
    background-color: cadetblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
}
.head{
    display: flex;
    justify-content: center;
    border: 2px solid black;
    flex-direction: row;
}
.winner{
    font-size: 5rem;
    margin-top: 40px;
    margin-bottom: 40px;
}
.images{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 70px;
    padding-bottom: 40px;
    border: 2px solid pink;
}
.player1{
    display: flex;
    flex-direction: column;
    align-content: center;
}
.player2{
    display: flex;
    flex-direction: column;
    align-content: center;
}
p{
    display: flex;
    justify-content: center;
    margin-bottom: 7px;
}
.footer{
    display: flex;
    justify-content: center;
}
.rights{
    
    margin-top: 30px;
    margin-bottom: 30px;
}